.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .search-btn {
    background-color: green;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: darkgreen;
  }